
@import '../public/packages/bootstrap/less/bootstrap.less';
@import '../public/packages/bootswatch/yeti/bootswatch.less';
@import '../public/packages/bootswatch/yeti/variables.less';

body {
    overflow-y: scroll;
}

#feeds {
    min-height: 805px;
}

.text-justified {
    text-align: justify
}

table.table th {
    text-align: center
}

.label.label-block {
    display: block;
    padding: 0.8em .6em 0.8em;
}