<a href="#!/feeds">Back</a>
<div ng-if="feed">
    <h1>{{feed.title | limitTo: 30}}</h1>
    <div ng-if="feed.image">
        <p class="text-muted"><i>{{moment(feed.timestamp).fromNow()}} by {{feed.by}}
        </i></p>
        <div class="thumbnail">
            <img class="img-responsive" src="{{feed.image}}" alt="">
            <div class="caption">
                <p class="lead">{{feed.body}}</p>
            </div>
        </div>
    </div>
    <div ng-if="!feed.image">
        <p class="lead">{{feed.body}}</p>
        <p class="text-muted"><i>{{moment(feed.timestamp).fromNow()}}
            <span ng-if="user"> / <a ng-click="edit(feed)" href="#!/feeds">Edit</a></span>
            <span ng-if="user"> / <a ng-click="delete(feed)" href="#!/feeds">Delete</a></span>
        </i></p>
    </div>
    <br>
    <div disqus="feed.title"></div>
</div>