<a ng-if="param" href="#!/feeds">Back</a>
<iframe ng-if="!param" src="https://google.org/crisismap/weather_and_events?hl=en&llbox=7.279%2C0.322%2C111.147%2C96.14&t=ROADMAP&layers=layer9%2Clayer8%2C2%2C45%2C47%2C46%2C48%2C1340721268837%2C1340721332252%3A74%2C10%2C11%2C1324667074540&embedded=true" width="100%" height="480px" frameborder="0"></iframe>
<h2>
    News Aggregate
</h2>
<ul class="media-list">
    <li ng-repeat="feed in filteredFeeds"  class="media">
        <div>
            <a href="#!/feed/{{feed.ID}}" class="pull-left thumbnail">
                <div style="background-image: url({{(feed.Image || 'http://img.astroawani.com/2014-12/71419593555_295x200.jpg')}})" class="feeds-image" alt=""></div>
            </a>
        </div>
        <div class="media-body">
            <h3><a class="media-heading" href="#!/feed/{{feed.ID}}">{{feed.Title}}</a></h3>
            <p>{{feed.Body | limitTo: 500}}...</p>
            <p class="text-muted"><i>{{feed.Timestamp | fromNow}}
                / <a href="#!/feeds/Source::{{(feed.Source || 'others') | encodeUrl}}">{{(feed.Source || 'others')}}</a>
                / <a href="#!/feeds/Location::{{(feed.Location || 'others') | encodeUrl}}">{{(feed.Location || 'others') | titleCase}}</a>
            </i></p>
        </div>
        <div class="clearfix"></div>
    </li>
    <li ng-show="filteredFeedsLength && filteredFeedsLength / numPerPage > 1" class="text-center"><pagination total-items="filteredFeedsLength" max-size="maxSize" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination></li>
</ul>