<a ng-if="param" href="#!/feeds">Back</a>
<ul class="list-unstyled">
    <li ng-repeat="feed in filteredFeeds">
        <h1><a href="#!/feed/{{feed.ID}}">{{feed.Title}}</a></h1>
        <div ng-if="feed.Image">
            <div class="thumbnail">
                <a href="#!/feed/{{feed.ID}}">
                    <img class="img-responsive" src="{{feed.Image}}" alt="">
                </a>
            </div>
        </div>
        <div ng-if="!feed.Image">
            <p class="lead">{{feed.Body | limitTo: 100}}...</p>
        </div>
        <p class="text-muted"><i>{{moment(feed.Timestamp).fromNow()}}
            / <a href="#!/feeds/Source::{{(feed.Source || 'others') | encodeUrl}}">{{(feed.Source || 'others')}}</a>
            / <a href="#!/feeds/Location::{{(feed.Location || 'others') | encodeUrl}}">{{(feed.Location || 'others') | titleCase}}</a>
            <span ng-if="user"> / <a ng-click="edit(feed)" href="#!/feeds">Edit</a></span>
            <span ng-if="user"> / <a ng-click="delete(feed)" href="#!/feeds">Delete</a></span>
        </i></p>
        <br>
    </li>
    <li ng-show="!filteredFeedsLength"><h3><i>No Posts Available</i></h3> <br><br></li>
    <li ng-show="filteredFeedsLength && filteredFeedsLength / numPerPage > 1"><pagination total-items="filteredFeedsLength" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination></li>
    <li ng-if="user">
        <hr ng-if="filteredFeedsLength">
        <h4>
            <span ng-if="state=='Create'">Create New</span>
            <span ng-if="state!='Create'">Edit Existing</span>
             Post
        </h4>
        <br>
        <form ng-submit="save()">
            <input required type="text" class="form-control" placeholder="Title" ng-model="form.Title">
            <br>
            <textarea required placeholder="Body" rows="5" class="form-control" ng-model="form.Body"></textarea>
            <br>
            <input pattern="^.+\.jpg$" type="text" class="form-control" placeholder="Image URL" ng-model="form.Image">
            <br>
            <button class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" ng-if="state!='Create'" ng-click="reset()">Cancel</button>
        </form>

    </li>
</ul>