<a href="#!/feeds">Back</a>
<h1>Amateur Radio Repeaters</h1>
<br>
<p>
*MARTS<br>
KOTA BHARU<br>
147.650mhz (-0.600) 203.5<br><br>
KOTA BHARU LOCAL<br>
147.900mhz (-0.600) 203.5<br><br>
TANAH MERAH<br>
146.875mhz (-0.600) 203.5<br><br>
LABIS<br>
146.975mhz (-0.600) 203.5<br><br>
BESUT TGANU<br>
147.975mhz (-0.600) 203.5<br><br>
*ASTRA<br>
KOTA BAHRU<br>
145.675mhz (-0.600) 103.5<br><br>
BESUT TGANU<br>
145.725mhz (-0.600) 103.5<br><br>
KEMAMAN TGANU<br>
147.925mhz (-0.600) 103.5<br><br>
TITIWANGSA<br>
147.075mhz (-2.350) 103.5<br><br>
*PEMANCAR<br>
SETIU TGANU<br>
145.575mhz (-1.000) 123.0<br><br>
KUALA TGANU<br>
147.800mhz (-0.600) 123.0<br><br>
DUNGUN TGANU<br>
147.000mhz (-0.600) 123.0<br><br>
*MARES<br>
BESUT TGANU<br>
147.775mhz (-0.600) 123.0<br><br>
KOTA BAHRU<br>
147.675mhz (-0.600) 123.0<br><br>
</p>

<p class="lead text-center">
    To add more to this list, please contact<br/><a href="mailto:syahrul@mymagic.my">syahrul@mymagic.my</a> or <a href="mailto:amir@mymagic.my">amir@mymagic.my</a>
</p>